$white: #fff;
$green: #2abea6;
$red: #f43b47;
$gray: #797e83;

$navbar-bg: #4f5f6f;
$navbar-ico-bg: #6a7887;
$navbar-top-bg: #d7dde4;

$color-icons-navbar: $green;

//$content-bg: #f0f3f6;
$content-bg: #f0f3f6;

$title-section-color: #797e83;
$title-section-font-size: 42px;
$title-section-font-family: 'Hind Madurai', sans-serif;

$color-destaque: #5aa5e0;
$fontSize-destaque: 41px;

