.navbar-ads {
  background: $navbar-top-bg;
}

.sidebar-ads {
  width: 200px !important;
  font-family: $title-section-font-family;
  background: $navbar-bg;
  color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;

  a.toggle-menu {
    background: $navbar-ico-bg;
    color: #fff;

    span {
      margin-left: 10px;
    }
  }
}

.content-ads {
  background: $content-bg;
}

.title-section {
  font-family: $title-section-font-family;
  color: $title-section-color;
  font-size: $title-section-font-size;
  margin-top: 10px;
  margin-bottom: 20px;
}

.raioX {

}

.red {
  color: $red;
}

.green {
  color: $green;
}

.card-home {
  color: $title-section-color;
  font-size: 21px;
  text-align: center;

  .card-header {
    font-size: 12px;
  }

  .card-body {
    padding: 0;
    min-height: 90px;

    p {
      margin-bottom: 0;
    }

    .site-is-online {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      min-height: 91px;

      .ico-red ,
      .ico-green{
        font-size: 36px;
        margin-right: 10px;
      }
    }
  }

  .card-footer {
    min-height: 55px;
    margin-top: 0;
  }

  .destaque {
    color: $color-destaque;
    font-size: $fontSize-destaque;
  }

  .ico-green {
    color: $green;
  }

  .ico-red {
    color: $red;
  }
}

.view-raio-x {
  color: $title-section-color;

  #raioX {
    margin-bottom: 20px;
  }

  .performace-ads {
    text-align: center;
    color: $color-destaque;
    font-size: 30px;
  }

  .primeiro-bloco {
    border-right: 1px solid #ccc;

    .status-raio-x {
      margin: 0 10px;
    }
  }

  .content-block {
    display: flex;
    justify-content: space-between;

    .block{
      padding-left: 30px;
      //padding-right: 30px;

      p {
        margin-bottom: 0;
      }
    }

    div[class="block"] {
      &:first-child {
        min-width: 206px;
        border-right: 1px solid #ccc;
      }

      &:last-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.view-resultados {
  .content-actions-resultados {
    display: flex;
    flex-direction: row;
    background: $white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    font-weight: bold;

    a {
      color: $gray;
    }

    svg {
      color: $green;
      font-size: 20px;
    }
  }

  .content-comparativo-resultados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.tabela-campanhas {
  thead {
    font-variant: all-small-caps;
  }
}

.breadcrumb-auditoria {
  font-size: 14px;
  color: $title-section-color;

  a {
    color: $title-section-color;
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.3rem;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "·";
    font-size: 20px;
    padding-right: 0.3rem;
  }

  li.breadcrumb-item {

  }
}
