.navbar-ads {
  // background: $navbar-top-bg;
  // background: #039BE5;
  background: #55b5a2;
}

.breadcrumb-auditoria {
  font-size: 14px;
  color: $title-section-color;

  a {
    color: $title-section-color;
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.3rem;

    &::before {
      content: "·";
      font-size: 19px;
      padding-right: 0.3rem;
    }
  }
}

.sidebar-ads {
  width: 239px !important;
  font-family: $title-section-font-family;
  // background: $navbar-bg;
  // background: $navbar-bg;
  // color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;

  a.toggle-menu {
    // background: $navbar-ico-bg;
    color: #fff;

    span {
      margin-left: 10px;
    }
  }
}

.content-ads {
  background: $content-bg;
}

.title-section {
  font-family: $title-section-font-family;
  color: $title-section-color;
  font-size: $title-section-font-size;
  margin-top: 10px;
  margin-bottom: 20px;
}

.subtitle-section{
  font-family: $title-section-font-family;
  color: $title-section-color;
  font-size: 20px;;
  margin-top: 10px;
  margin-bottom: 20px;
}

.raioX {

}



.card-home {
  color: $title-section-color;
  font-size: 21px;
  text-align: center;

  .card-header {
    font-size: 12px;
  }

  .card-body {
    padding: 0;
    min-height: 90px;

    p {
      margin-bottom: 0;
    }

    .site-is-online {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      min-height: 91px;

      .ico-red ,
      .ico-green{
        font-size: 36px;
        margin-right: 10px;
      }
    }
  }

  .card-footer {
    min-height: 55px;
    margin-top: 0;
  }

  .destaque {
    color: $color-destaque;
    font-size: $fontSize-destaque;
  }

  .ico-green {
    color: $green;
  }

  .ico-red {
    color: $red;
  }
}

.view-raio-x {
  color: $title-section-color;

  #raioX {
    margin-bottom: 20px;
  }

  .performace-ads {
    text-align: center;
    color: $color-destaque;
    font-size: 30px;
  }

  .primeiro-bloco {
    border-right: 1px solid #ccc;

    .status-raio-x {
      margin: 0 10px;
    }
  }

  .content-block {
    display: flex;
    justify-content: space-between;

    .block{
      padding-left: 30px;
      //padding-right: 30px;

      p {
        margin-bottom: 0;
      }
    }

    div[class="block"] {
      &:first-child {
        min-width: 206px;
        border-right: 1px solid #ccc;
      }

      &:last-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.view-resultados {
  .content-actions-resultados {
    display: flex;
    flex-direction: row;
    background: $white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    font-weight: bold;

    a {
      color: $gray;
    }

    svg {
      color: $green;
      font-size: 20px;
    }
  }

}

.content-comparativo-painel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content-comparativo {
  font-size: 16px;
  text-align: center;
  color: #797e83;

  .text-green {
    color: $green;
  }

  .comparativo-title {
    text-transform: uppercase;
    flex-direction: row;
    justify-content: space-between;
    color: #40505e;
  }

  .info-comparativo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
    font-size: 26px;
    color: $blue;

    span {
      font-size: 16px;
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &.campanha{
    p:last-child{
      font-size: 22px;
    }
  }
}

.content-comparativo-resultados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  //.content-comparativo {
  //  font-size: 16px;
  //  text-align: center;
  //  color: #797e83;
  //
  //  .text-blue {
  //    font-size: 26px;
  //    color: $blue;
  //  }
  //
  //  .text-green {
  //    color: $green;
  //  }
  //
  //  .comparativo-title {
  //    text-transform: uppercase;
  //    flex-direction: row;
  //    justify-content: space-between;
  //    color: #40505e;
  //  }
  //
  //  .info-comparativo {
  //    display: flex;
  //    flex-direction: row;
  //    justify-content: space-between;
  //    margin-bottom: 0;
  //    align-items: center;
  //  }
  //
  //  p {
  //    &:last-child {
  //      margin-bottom: 0;
  //    }
  //  }
  //
  //  .campanha{
  //    p:last-child{
  //      font-size: 22px;
  //    }
  //  }
  //}
}

.tabela-campanhas {
  thead {
    font-variant: all-small-caps;
  }
}

.view-painel-da-campanha {
  div.flex {
    //align-items: center;
  }

  .title-section {
    font-size: $title-section-font-size;
  }

  .btn-piloto-auto {
    color: $dourado;
    font-size: 14px;

    &:hover {
      color: #a57d07;
    }
  }

  .controll-budget {
    justify-content: space-between;
    background: $white;
    border-radius: 5px;
    padding: 10px;

    .content-budget {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: $title-section-color;
      font-weight: bold;

      .progress {
        width: 100px;
        margin: 0 10px;
        background: #d9dee5;
        height: 24px;

        .progress-bar {
          background: $blue;
        }
      }
    }

    .content-actions {
      display: flex;
      align-items: center;

      button {
        margin-left: 5px;

        &:nth-child(1n) {
          color: $green;
          border-color: $green;
        }

        &:nth-child(2n) {
          color: $title-section-color;
          border-color: $title-section-color;
        }

        &:nth-child(3n) {
          color: $dourado;
          border-color: $dourado;
        }

        &:hover {
          &:nth-child(1n) {
            background: $green;
            color: $white;
          }

          &:nth-child(2n) {
            background: $title-section-color;
            color: $white;
          }

          &:nth-child(3n) {
            background: $dourado;
            color: $white;
          }
        }
      }
    }
  }

  .header-publico-atingido {
    justify-content: space-between;
    font-size: 16px;
    align-items: baseline;

    p {
      font-weight: bold;
      color: $gray;
    }

    span:before {
      content: "·";
      margin: 0 0.2rem;
    }
  }

  .content-publico-nao-atingido {
    .header-publico-nao-atingido {
      justify-content: space-between;
      font-size: 16px;
      align-items: baseline;

      font-weight: bold;
      color: $gray;
    }

    .info {
      color: $red;
      font-size: 26px;
      display: flex;
      justify-content: space-between;
      width: 15vw;

      span {
        &:nth-child(2n) {
          &:before {
            content: "·";
          }
        }
      }
    }

    .text{
      color: $gray;
    }

    .footer-publico-nao-atingido {
      display: flex;
      //justify-content: space-between;

      .info {
        color: $blue;

        span {
          &:nth-child(2n) {
            &:before {
              content: "·";
            }
          }
        }
      }
    }
  }

  .content-conversoes {
    .card-header {
      span {
        margin-right: 10px;
      }
    }
    .card-footer {
      div:first-child {
        justify-content: flex-end;
        p {
          font-size: 14px;
          margin-bottom: 0;
          &:nth-of-type(1n) {
            font-weight: bold;
            margin-right: 20px;
          }

          &:nth-of-type(2n) {
            color: $red;
          }

          &:nth-of-type(3n) {
            color: $green-light;
          }
        }
        button {
          text-transform: uppercase;
        }
      }
    }
  }

  .content-anuncios {
    .card-header {
      span {
        margin-right: 10px;
      }
      button {
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .card-body {
      .content-anuncio {
        border: 2px solid #d9dee5;
        border-radius: 10px;
        padding: 10px;

        .header-anuncio {
          &:hover {
            .title-anuncio {
              text-decoration: underline;
            }
          }
          .title-anuncio {
            color: #1a0dab;
          }
          .url-anuncio {
            color: #006621;
            span {
              border: 1px solid #006621;
              border-radius: 5px;
              padding: 2px;
            }
          }
        }
        .body-anuncio {
          color: #545454;
        }

        .extensoes-anuncio {
          display: flex;
          justify-content: space-between;

          .info-extensao {
            margin-top: 10px;

            &:first-child {
              margin-left: 20px;
            }

            .title-extensao {
              color: #1a0dab;
              &:hover {
                text-decoration: underline;
              }
            }
            .text-extensao {
              color: #545454;
            }
          }
        }

        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
      .info-anuncios {
        display: flex;
        justify-content: space-between;
        .info {
          text-align: center;

          .title {
            color: $gray-dark;
            font-weight: bold;
          }
          .value {
            color: $blue;
            font-size: 26px;
            margin-bottom: 0;
          }
          .percent {
            color: $green-light;
          }
        }
      }
      .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;
        p {
          font-size: 18px;
          margin-bottom: 0;

          span {
            color: $blue;
            font-weight: bold;
          }
        }

        div:last-child {
          button {
            font-size: 14px;
            text-transform: uppercase;

            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .content-extensoes-de-anuncios {
    .content-anuncios {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      .box-extensao {
        width: 25vw;
        border-radius: 5px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .text-extensao {
          margin: 0 auto;
        }

        .status-extensao {
          float: right;
          font-size: 12px;
          svg {
            margin-right: 5px;
          }
        }

        &.configurado {
          background: $green-light;
          .status-extensao {
            svg {
              color: darken($green-light, 20%);
            }
          }
        }

        &.nao-configurado {
          color: $gray-dark;
          background: #d9dee5;
          .status-extensao {
            color: darken(#d9dee5, 30%);
          }
        }
      }
    }
    .card-footer {
      button {
        text-transform: uppercase;
      }
    }
  }

  .content-sugestoes-de-palavras {
    .card-body {
      p {
        font-size: 21px;
        color: $gray;
        margin-bottom: 0;
      }

      table {
        color: $gray;
        font-size: 14px;

        tr {
          td {
            text-align: center;
          }
        }

        thead {
          font-weight: bold;
          text-transform: uppercase;
          color: $gray-dark;
        }

        tbody {
          tr {
            td {
              &:first-child {
                font-weight: bold;
                color: $gray-dark;
              }

              button {
                font-size: 10px;
                &:first-child {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }

      .content-sugestoes-adicionar {
        table {
          button {
            text-transform: uppercase;
            &.btn-negativar {
              border: none;
              color: $green;
              text-decoration: underline;

              &:hover {
                background: none !important;
                color: darken($red, 40%) !important;
              }
            }
          }
        }
      }

      .content-sugestoes-negativas {
        table {
          button {
            text-transform: uppercase;
            &.btn-adicionar {
              border: none;
              color: $green;
              text-decoration: underline;

              &:hover {
                background: none !important;
                color: darken($green, 30%) !important;
              }
            }
          }
        }
      }
    }
  }
}

.sidebar-menu, 
.main-sidebar .user-panel, 
.sidebar-menu>li.header {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}

.sidebar-menu .active>.treeview-menu {
  display: block;
}

.treeview>ul.treeview-menu {
  overflow: hidden;
  height: auto;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.treeview-menu>li {
  margin: 0;
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
  color: #8aa4af;
}
.skin-blue .sidebar a {
  color: #b8c7ce;
}
.treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu li>a {
  position: relative;
}
.treeview-menu>li>a>.fa, .treeview-menu>li>a>.glyphicon, .treeview-menu>li>a>.ion {
  width: 20px;
}
.treeview-menu>li {
  margin: 0;
}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
  color: #fff;
}
.skin-blue .sidebar-menu .treeview-menu>li>a {
  color: #8aa4af;
}
.skin-blue .sidebar a {
  color: #b8c7ce;
}
.treeview-menu>li>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu li>a {
  position: relative;
}

.card-GMB {
  color: $title-section-color;
  font-size: 21px;
  text-align: center;

  .container-info-desempenho {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;

    .title-info-desempenho{
      cursor: pointer;

      &.active{
        color: #2196F3;

        .value {
          color: inherit;
        }
      }
      .title {
        font-size: 14px;
      }
      .value {
        color: #000;
      }
    };
  }

  .container-valores-desempenho {
    margin: 10px 0;

    ul {
      list-style: none;
      text-align: left;
      font-size: 15px;
      margin: 0;
      padding-left: 0px;

      li {
        padding: 5px 0;
        color: #000;

        &:first-child{
          border-bottom: 1px solid #ccc;
        }

        span {
          float: right;
          .red {
            color: #E53935;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .texto-compartilhamento-form {
    font-size: 16px;
    text-align: left;
  }

  .btn-share-form {
    border-color: #ccc;
    color: #2196F3;

    &:hover {
      background-color: #2196F3;
      color: #fff;
    }
  }

  .container-share-company {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 14px;

      li {
        padding: 10px 0;

        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }

  .container-fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    .item-foto {
      width: 50%;
      
      img {
        width: 100%;
      }
    }
  }

  .card-header {
    color: #000;
    text-align: left;
    padding: 10px;

    p {
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 10px;
    min-height: 90px;

    p {
      margin-bottom: 0;
    }

    .site-is-online {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      min-height: 91px;

      .ico-red ,
      .ico-green{
        font-size: 36px;
        margin-right: 10px;
      }
    }
  }

  .card-footer {
    background-color: inherit;
    padding: 10px;
    margin: 0;

    p {
      margin: 0;
      padding: 0;
      text-align: left;
      font-size: 12px;
    }
    // min-height: 55px;
    // margin-top: 0;
  }

  .destaque {
    color: $color-destaque;
    font-size: $fontSize-destaque;
  }

  .ico-green {
    color: $green;
  }

  .ico-red {
    color: $red;
  }
}

#btn-empresas-cielo {
  color: #ffffff;
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
}