.loadingicon{
	font-size: 18px;	

     -webkit-animation-name: slidein;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;

}

@keyframes slidein {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}