.container-title-table {
    display: flex;
    justify-content: space-between;
}

.container-botoes-locais {
    display: flex;
}

.container-avaliacoes {
    display: flex;

    .container-stars {
        justify-content: space-between;
        width: 60%;
        align-items: center;

        .info-start {
            display: flex;
            align-items: center;

            .number {
                color: #101010;
            }

            .start {
                font-size: 14px;
                color: #ccc;
                margin: 0 5px;
            }

            .progress {
                width: -webkit-fill-available;
                border-radius: 5px;
            }
        }
    }
}

.container-nota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 40%;

    p.nota {
        width: 100%;
        margin: 0;
        color: #101010;
        font-size: 40px;
        display: block;
    }

    .container-stars{
        width: 100%;
        .start {
            font-size: 14px;
            color: #ffc107;
            // margin: 0 5px;
        }
    }

    .total-avaliacao {

    }
}

.container-messages {
    margin-top: 30px;

    .message{
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 0px 5px #ccc;
        
        .header {
            display: flex;
            max-height: 70px;
            justify-content: start;
            margin-bottom: 10px;

            .container-img {
                width: 60px;
                img {
                    width: 100%;
                }
            }
            .info-user {
                text-align: left;
                margin-left: 10px;

                p {
                    color: #101010;
                }

                .container-star-date{
                    display: flex;
                    font-size: 14px;

                    .stars{
                        font-size: 14px;
                        color: #ffc107;
                        margin-right: 10px;
                    }
                }
            }
        }

        .body {
            min-height: 80px;
            text-align: left;
            color: #101010;
        }

        .footer{
            .container-btns {
                display: flex;

                .btn {
                    background: transparent;
                    color: #2196F3;

                    &:first-child{
                        border-color: #ccc;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}